html {
	background: #2f253d;
}

body {
	font-family: monospace;
	color: white;
	margin: auto;
	max-width: 800px;
	top: 200px;
}

#content {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
